/******************************************************
** Visibility
******************************************************/

.transparent {
  opacity: 0 !important;
}

.opaque {
  opacity: 1 !important;
}

.invisible {
  visibility: hidden !important;
}

a.underlined:hover {
  text-decoration: underline;
  color: rgb(125, 125, 125);
}


/******************************************************
** Custom utilities
******************************************************/
.height-fill {
  height: 100%;
}

.clear-margin {
  margin: 0 !important;
}

.clear {
  clear: both !important;
}

.vertical-align {
  vertical-align: middle;
}

img {
  -webkit-transition: .25s all ease;
  -moz-transition: .25s all ease;
  -moz-transition: .25s all ease;
  -ms-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;

  &.desaturate {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  &.invert {
    -webkit-filter: invert(1);
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  &.filter-to-black {
    -webkit-filter: grayscale(1) brightness(20%);
    -webkit-filter: grayscale(100%) brightness(20%);
    filter: grayscale(100%) brightness(20%);
  }

  &.filter-to-white {
    -webkit-filter: grayscale(1) brightness(0%) invert(1);
    -webkit-filter: grayscale(100%) brightness(0%) invert(100%);
    filter: grayscale(100%) brightness(0%) invert(100%);
  }

}

/******************************************************
**  Spacers and padding
/******************************************************/

$directions: 'top','bottom', 'left', 'right';

@for $i from 0 through 12 {
  .space-above-#{$i} {
    margin-top: #{$i}em !important;
  }

  .space-below-#{$i} {
    margin-bottom: #{$i}em !important;
  }

  .pad-#{$i} {
    padding: #{$i}em !important;
  }

  @each $direction in $directions {
    .pad-#{$direction}-#{$i} {
      padding-#{$direction}: #{$i}em !important;
    }
  }
}

.row.form .columns {
  padding: 0 .25em !important;
}

.border-right {
  border-right: 1px solid rgb(200, 200, 200);
}

/******************************************************
** Margins
******************************************************/

.margin-horz-none {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/******************************************************
** Box styling
******************************************************/

.radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/******************************************************
** Shapes
******************************************************/

.circle-metric {
  width: 15rem;
  height: 15rem;
  text-align: center;
  border-radius: 50%;
  border: 2px dotted white;
}

.circle-metric i {
  font-size: 5rem;
}

.circle-metric-description {
  padding: 2rem 1rem;
  line-height: 1.2;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-left: 15px solid white;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
}

.chevron-down {
  position: absolute;
  margin: auto;
  top: -70px;
  left: 0;
  right: 0;
  width: 137px;
  height: 137px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  border-right: 5px solid white;
  border-bottom: 5px solid white;
}
